body {
  background-color: rgb(1, 34, 48);
  background-image: url("https://images.unsplash.com/photo-1586962316657-ff64c26330bc?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=1080&fit=max&ixid=eyJhcHBfaWQiOjEyMDd9");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  text-shadow: 1px 1px 1px black;
}
h1 {
  text-align: center;
  color: gold;
  -webkit-text-stroke-color: black;
  -webkit-text-stroke-width: 2px;
}
#gameStart {
  color: black;
  background-color: #5cb85c;
  border-color: #4cae4c;
  width: 40%;
  margin-left: 30%;
  margin-right: 30%;
  margin: 0 auto;
  display: block;
}
#location {
  color: white;
  background-color: black;
  margin: .25%;
  
}
.output {
  color: white;
  /* color: gold;
  -webkit-text-stroke-color: black;
  -webkit-text-stroke-width: 1.25px; */
  float: left;
  height: 600px;
  overflow-y: auto;
}
.scb {
  color: black;
  background-color: #5cb85c;
  border-color: #4cae4c;
}
#combatlog {
  margin-right: 20px;
  text-align: left;
  overflow-y: auto;
  float: right;
  height: 600px;
  text-shadow: 1px 1px 1px black;
}
#combat-header {
  color: white;
}
#army {
  color: white;
  float: left;
  overflow-y: auto;
  height: 600px;
}
#showIncomeEarnedOnContract {
  color: rgb(0, 0, 0);
  background-color: #ff9900;
  border-color: #fbff00;
  display: block;
  margin: .25%;
}
#buyMerc {
  color: rgb(255, 255, 255);
  background-color: #2f00ff;
  border-color: #fbff00;
  display: block;
  margin: .25%;
}
#upgradeMerc {
  display: block;
  color: rgb(0, 0, 0);
  background-color: #009414;
  border-color: #fbff00;
  margin: .25%;
}
#buyShield {
  display: block;
  color: rgb(0, 0, 0);
  background-color: #009414;
  border-color: #fbff00;
  margin: .25%;
}
#storyIntro {
  vertical-align: center;
}





